<tr>
<td class="calendar">
  Week <%= @current_season_start.step(week[0], 7).count%><br>

  <% WeeklyCalendarEntry.where(start_date: week[0]).each do |calendar_entry|%>
    <%= calendar_entry.name%>
  <%end%>

</td>

  <% week.each do |day| %>
    <%= render partial: 'day',  locals: {day: day} %>
  <% end %>
</tr>




