<tr>
<td class="calendar">
  Week <%= @current_season_start.step(week[0], 7).count%><br>

  <% @weekly_calendar_entries[week[0]].each do |calendar_entry|%>
    <%= calendar_entry.name%><br>
  <%end%>

</td>

  <%= render partial: 'day', collection: week%>
</tr>




